
services:
  mongo:
    image: mongo:7
    container_name: jumai-mongo
    restart: always
    volumes:
      - mongo_data:/data/db

  api:
    build: .
    container_name: jumai-api
    depends_on:
      - mongo

volumes:
  mongo_data:
